.style {
	font-family: luminari, fantasy;
		text-align: center;
		color: navajowhite;

}

.about {
	font-family: luminari, fantasy;
		text-align: left;
		color: navajowhite;
		background-color:#cccccc; 
	    padding: auto;
	    border: 15px solid whitesmoke;
	    margin: 2px;
	    width: 400px;

}

.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #FF3D3D;
  color: white;

}

.topnav a.world {
  background-color: #20C7D7;
  color: white;

}

.topnav a.char {
  background-color: #FF3D3D;
  color: white;

}

.topnav a.sugg {
  background-color: #20C7D7;
  color: white;

}

.topnav a.gene {
  background-color: #FF3D3D;
  color: white;

}