#styling3 {
  color: navajowhite;
  font-family: luminari, fantasy;
  text-align: center;
  filter: brightness(1.0);

}

#img1 {
  position: relative; 
  top: -10px;
  left: 1425px;
  width: 250px;
  height: auto;
}


#sorceries {
  color: navajowhite;
}

.styling {
  color: navajowhite;
  font-family: luminari, fantasy;
  margin-left: 450px;
}

.styling1 {
  color: navajowhite;
  font-family: luminari, fantasy;
  margin-left: 900px;
  margin-top: -190px;

}

#table {
  color: navajowhite;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: darkgoldenrod;
  border-width: 5px;
  margin-left: 400px;
  margin-top: -300px;
}

#classes {
  color: navajowhite;
  font-family: luminari, fantasy;
}

#color1 {
  color: skyblue;
}

#color2 {
  color: darkgoldenrod;
}


.style {
	font-family: luminari, fantasy;
		color: navajowhite;
		text-align: center;

}

.about {
	font-family: luminari, fantasy;
		text-align: left;
		color: darkgoldenrod;
		background-color:#cccccc; 
	    padding: auto;
	    border: 15px solid whitesmoke;
	    margin: 2px;
	    width: 400px;

}

.boxes {
  font-family: luminari, fantasy;
    text-align: center;
    color: darkgoldenrod;
    background-color:#cccccc; 
    text-decoration: none;
      padding: auto;
      border: 15px solid whitesmoke;
      margin: 2px;
      width: 250px;
      position: relative;
      left: 1130px;
      top: -550px;
      display: flex;
      flex-direction: column;
}

a {
  color: navajowhite;
  text-decoration: none;
}

.boxes2 {
  font-family: luminari, fantasy;
    text-align: center;
    color: navajowhite;
    background-color:#cccccc; 
      padding: auto;
      border: 15px solid whitesmoke;
      margin: 2px;
      width: 250px;
      position: relative;
      left: 1400px;
      top: -935px;
}

.boxes3 {
  font-family: luminari, fantasy;
    text-align: center;
    color: navajowhite;
    background-color:#cccccc; 
      padding: auto;
      border: 15px solid whitesmoke;
      margin: 2px;
      width: 250px;
      position: relative;
      left: 495px;
}

.godbox {
      display: flex;
      flex-direction: row;
      flex-warp: wrap;
}

.boxes33 {
  font-family: luminari, fantasy;
    text-align: center;
    color: navajowhite;
    background-color:#cccccc; 
      padding: auto;
      border: 15px solid whitesmoke;
      margin: 2px;
      width: 250px;
      position: relative;
      left: -266px;
      top: 136px;
}

.godbox1 {
      display: flex;
      flex-direction: row;
      flex-warp: wrap;
}


.topnav {
  background-color: #0c0c0c;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #bc9928;
  color: black;
  opacity: 100;
}

.dropbtn {
  background-color: #bc9928;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bc9928;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background color: #bc9928;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}