.style {
	font-family: luminari, fantasy;
		color: navajowhite;
		text-align: center;

}

.about {
	font-family: luminari, fantasy;
		text-align: left;
		color: navajowhite;
		background-color:#cccccc; 
	    padding: auto;
	    border: 15px solid whitesmoke;
	    margin: 2px;
	    width: 400px;

}

.boxes {
  font-family: luminari, fantasy;
    text-align: center;
    color: navajowhite;
    background-color:#cccccc; 
      padding: auto;
      border: 15px solid whitesmoke;
      margin: 2px;
      width: 250px;
      position: relative;
      left: 1125px;
      top: -115px;
      display: flex;
      flex-direction: column;
}

.boxes2 {
  font-family: luminari, fantasy;
    text-align: center;
    color: navajowhite;
    background-color:#cccccc; 
      padding: auto;
      border: 15px solid whitesmoke;
      margin: 2px;
      width: 250px;
      position: relative;
      left: 1400px;
      top: -500px;
}

.boxes3 {
  font-family: luminari, fantasy;
    text-align: center;
    color: navajowhite;
    background-color:#cccccc; 
      padding: auto;
      border: 15px solid whitesmoke;
      margin: 2px;
      width: 250px;
      position: relative;
      float: left;
      left: 495px;
      flex-wrap: around;
}


.topnav {
  background-color: #0c0c0c;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #bc9928;
  color: black;
  opacity: 100;
}

.dropbtn {
  background-color: #bc9928;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bc9928;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background color: #bc9928;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}