.style {
	font-family: luminari, fantasy;
		color: navajowhite;
		right: 300px;
}

.about {
	font-family: luminari, fantasy;
		text-align: left;
		color: navajowhite;
		background-color:#cccccc; 
	    padding: auto;
	    border: 15px solid whitesmoke;
	    margin: 2px;
	    width: 400px;

}

.topnav {
  background-color: #0c0c0c;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #bc9928;
  color: black;
  opacity: 100;
}

.topnav a.world {
  background-color: #bc9928;
  color: black;
  opacity: 100;
}

.topnav a.char {
  background-color: #bc9928;
  color: black;
  opacity: 100;
}

.topnav a.sugg {
  background-color: #bc9928;
  color: black;
  opacity: 100;
}

.topnav a.gene {
  background-color: #bc9928;
  color: black;
  opacity: 100;
}